<div class="compare-product-section active">
    <div class="page-width">
      <div class="compare-product-container">
        <div class="compare-heading">
          <p>Compare Products <span class="compare-product-total">(0)</span> <span class="count-svg"><svg xmlns="http://www.w3.org/2000/svg" width="13.91" height="6.955" viewBox="0 0 13.91 6.955">
            <path id="Icon_ionic-md-arrow-dropdown" data-name="Icon ionic-md-arrow-dropdown" d="M9,13.5l6.955,6.955L22.91,13.5Z" transform="translate(-9 -13.5)" fill="#fff"/>
          </svg>
          </span></p>
        </div>
        <div class="compare-product-wrapper"></div>
      </div>
    </div>
  </div>