.sl-brandstyle-a46faf5d-3eb5-4eec-b0d4-826b6ab5eb5b .sl-font-style--title {
font-family: "Archivo Black";
font-weight: 400;
font-style: normal;
}
.sl-brandstyle-a46faf5d-3eb5-4eec-b0d4-826b6ab5eb5b .sl-font-style--body {
font-family: Archivo;
font-weight: 600;
font-style: normal;
}
.sl-brandstyle-a46faf5d-3eb5-4eec-b0d4-826b6ab5eb5b .sl-font-style--button {
font-family: Archivo;
font-weight: 600;
font-style: normal;
}
.sl-brandstyle-a46faf5d-3eb5-4eec-b0d4-826b6ab5eb5b .sl-font-style--label {
font-family: Archivo;
font-weight: 600;
font-style: normal;
text-transform: uppercase;
}
.sl-pattern-bdbb9a8d-a525-4066-b34d-44d4dfd17cdf {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #121212;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-bdbb9a8d-a525-4066-b34d-44d4dfd17cdf .sl-font-style--title { color: #121212; }
.sl-pattern-bdbb9a8d-a525-4066-b34d-44d4dfd17cdf .sl-font-style--body { color: #121212; }
.sl-pattern-bdbb9a8d-a525-4066-b34d-44d4dfd17cdf .sl-font-style--button { color: #121212; }
.sl-pattern-bdbb9a8d-a525-4066-b34d-44d4dfd17cdf .sl-font-style--label { color: #121212; }
.sl-pattern-bdbb9a8d-a525-4066-b34d-44d4dfd17cdf .sl-button--brand-style {
color: #121212;
background-color: #ffffff;
}
.sl-pattern-bdbb9a8d-a525-4066-b34d-44d4dfd17cdf .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-034e9648-2893-41a6-9e6b-a139923db563 {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-034e9648-2893-41a6-9e6b-a139923db563 .sl-font-style--title { color: #ffffff; }
.sl-pattern-034e9648-2893-41a6-9e6b-a139923db563 .sl-font-style--body { color: #121212; }
.sl-pattern-034e9648-2893-41a6-9e6b-a139923db563 .sl-font-style--button { color: #ffffff; }
.sl-pattern-034e9648-2893-41a6-9e6b-a139923db563 .sl-font-style--label { color: #121212; }
.sl-pattern-034e9648-2893-41a6-9e6b-a139923db563 .sl-button--brand-style {
color: #ffffff;
background-color: #ffffff;
}
.sl-pattern-034e9648-2893-41a6-9e6b-a139923db563 .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-c12fc980-00ff-41d0-847b-c85831b6f48d {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #121212;
--sl-gv-btn-bg-color: #ffffff;
--sl-gv-btn-radius: 8px;
}
.sl-pattern-c12fc980-00ff-41d0-847b-c85831b6f48d .sl-font-style--title { color: #121212; }
.sl-pattern-c12fc980-00ff-41d0-847b-c85831b6f48d .sl-font-style--body { color: #121212; }
.sl-pattern-c12fc980-00ff-41d0-847b-c85831b6f48d .sl-font-style--button { color: #121212; }
.sl-pattern-c12fc980-00ff-41d0-847b-c85831b6f48d .sl-font-style--label { color: #121212; }
.sl-pattern-c12fc980-00ff-41d0-847b-c85831b6f48d .sl-button--brand-style {
color: #121212;
background-color: #ffffff;
}
.sl-pattern-c12fc980-00ff-41d0-847b-c85831b6f48d .sl-button--border-radius { border-radius: 8px; }
.sl-pattern-ab717e91-343c-4fd3-a890-f4aba8804bee {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-ab717e91-343c-4fd3-a890-f4aba8804bee .sl-font-style--title { color: #000000; }
.sl-pattern-ab717e91-343c-4fd3-a890-f4aba8804bee .sl-font-style--body { color: #000000; }
.sl-pattern-ab717e91-343c-4fd3-a890-f4aba8804bee .sl-font-style--label { color: #000000; }
.sl-pattern-ab717e91-343c-4fd3-a890-f4aba8804bee .sl-button--brand-style {
background-color: #ffffff;
}
.sl-pattern-9845afd0-a6f6-4a66-8baa-dcbac9fde3dd {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #121212;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-9845afd0-a6f6-4a66-8baa-dcbac9fde3dd .sl-font-style--title { color: #121212; }
.sl-pattern-9845afd0-a6f6-4a66-8baa-dcbac9fde3dd .sl-font-style--body { color: #121212; }
.sl-pattern-9845afd0-a6f6-4a66-8baa-dcbac9fde3dd .sl-font-style--button { color: #121212; }
.sl-pattern-9845afd0-a6f6-4a66-8baa-dcbac9fde3dd .sl-font-style--label { color: #121212; }
.sl-pattern-9845afd0-a6f6-4a66-8baa-dcbac9fde3dd .sl-button--brand-style {
color: #121212;
background-color: #ffffff;
}
.sl-pattern-0f8f7ec0-3418-40f7-a96f-3405d3e24c2b {
background-color: #ffffff;
border-style: none;
--sl-gv-bg-color: #ffffff;
--sl-gv-btn-txt-color: #121212;
--sl-gv-btn-bg-color: #ffffff;
}
.sl-pattern-0f8f7ec0-3418-40f7-a96f-3405d3e24c2b .sl-font-style--title { color: #0000ee; }
.sl-pattern-0f8f7ec0-3418-40f7-a96f-3405d3e24c2b .sl-font-style--body { color: #121212; }
.sl-pattern-0f8f7ec0-3418-40f7-a96f-3405d3e24c2b .sl-font-style--button { color: #121212; }
.sl-pattern-0f8f7ec0-3418-40f7-a96f-3405d3e24c2b .sl-font-style--label { color: #121212; }
.sl-pattern-0f8f7ec0-3418-40f7-a96f-3405d3e24c2b .sl-button--brand-style {
color: #121212;
background-color: #ffffff;
}
